rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow read/write for everyone (for your MVP/Portfolio)
      allow read, write: if true;
    }
  }
}